<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Get your settings from http://tokbox.com/opentok/api or none of the test will pass -->
  <appSettings>
    <add key="opentok.key" value="** your api key**"/>
    <add key="opentok.secret" value="** your secret **"/>
    <add key="opentok.server" value="https://api.opentok.com"/>
    <add key="opentok.token.sentinel" value="T1=="/>
    <add key="opentok.sdk.version" value="opentokapi.net"/>
  </appSettings>  
</configuration>